:root {
    --my-orange: #EE4540;
    --my-red-bright: #C72C41;
    --my-red-sombre: #801336;
    --my-purple: #510A32;
    --my-dark-purple: #20142C;
    --text-color-primary: #fff;
    --text-color-secondary: #000000;
}
