@import url("bootstrap.min.css");
@import "color_var.css";

.logo-image {
    max-width: 120px;
    max-height: 50px;
}

header {
    background-color: transparent !important;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    z-index: 2;
}

.navbar {
    background-color: transparent !important;
}

.navbar-collapse {
    background: transparent;
}

.nav-link {
    color: var(--text-color-secondary);
    transition: color 0.3s ease;
    position: relative;
    overflow: hidden;
}

.nav-link:hover {
    font-weight: bold;
    color: var(--text-color-primary);
}

.nav-link:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 20, 44, 0.7);
    transform-origin: top left;
    transform: translateX(-100%) translateY(-100%);
    transition: transform 0.3s ease;
}

.nav-link:hover:before {
    transform: translateX(0) translateY(0);
    background-color: rgba(32, 20, 44, 0.8);
}

.nav-link span {
    z-index: 1;
    position: relative;
}
