@import "color_var.css";

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(to bottom, var(--blue3), var(--text-color-secondary));
    animation: backgroundAnimation 15s ease infinite;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 60%;
    }
    100% {
        background-position: 0 50%;
    }
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--text-color-primary);
    padding: 0 2rem;
    text-align: center;
}

.home-content h1 span{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    background-image: linear-gradient(to right, var(--blue6), var(--blue9));
    -webkit-background-clip: text;
    color: transparent;
}

.home-content h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 2rem;
    background-image: linear-gradient(to right, var(--blue8), var(--blue9));
    -webkit-background-clip: text;
    color: transparent;
}

.home-content .btn {
    margin-top: 12px;
    padding: 20rem 2.5rem;
    font-size: 1.8rem;
}

@media (max-width: 576px) {
    .home-content h1 {
        font-size: 2.8rem;
        margin-bottom: 1.5rem;
    }

    .home-content p {
        font-size: 1.8rem;
        margin-bottom: 2.5rem;
    }

    .home-content .btn {
        font-size: 1.8rem;
        padding: 1rem 2.5rem;
    }
}


.home-content .btn {
    position: relative;
    overflow: hidden;
    border: 1px solid #20142CFF;
    color: var(--text-color-secondary);
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: var(--blue9);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.home-content .btn span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

.home-content .btn span:last-child {
    color: var(--text-color-secondary);
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

.home-content .btn:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue9);
    transform-origin: bottom center;
    transition: transform .6s cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.home-content .btn:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.home-content .btn:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
