@import "color_var.css";

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(to bottom, var(--my-red-bright), var(--my-dark-purple));
    animation: backgroundAnimation 15s ease infinite;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}

.resume-download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--text-color-primary);
    padding: 0 2rem;
    text-align: center;
}

.resume-download h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.resume-download p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.resume-download .btn {
    --b: 3px;
    --s: .45em;
    --color: var(--text-color-primary); /* Change the color to var(--my-purple) */

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
            conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0)
            var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.resume-download .btn:hover,
.resume-download .btn:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.resume-download .btn:active {
    background: var(--color);
    color: var(--my-dark-purple);
}


@media (max-width: 576px) {
    .resume-download h2 {
        font-size: 2.8rem; /* Increase the font size for phones */
        margin-bottom: 1.5rem; /* Add more margin-bottom for spacing */
    }

    .resume-download p {
        font-size: 1.8rem; /* Increase the font size for phones */
        margin-bottom: 2.5rem; /* Add more margin-bottom for spacing */
    }

    .resume-download .btn {
        font-size: 1.8rem; /* Increase the font size for phones */
        padding: 1rem 2.5rem; /* Adjust the padding for larger buttons */
    }
}
